@font-face {
    font-family: car-icons;
    src: url(fonts/car-icons.eot@2eccro);
    src: url(fonts/car-icons.eot@2eccro) format('embedded-opentype'), url(fonts/car-icons.ttf@2eccro) format('truetype'), url(fonts/car-icons.woff@2eccro) format('woff'), url(fonts/car-icons.svg@2eccro) format('svg');
    font-weight: 400;
    font-style: normal
}

[class^=icon-car-],
[class*=" icon-car-"] {
    font-family: car-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-car-asset:before {
    content: "\e900"
}

.icon-car-battery:before {
    content: "\e901"
}

.icon-car-bearing:before {
    content: "\e902"
}

.icon-car-board1:before {
    content: "\e903"
}

.icon-car-care:before {
    content: "\e904"
}

.icon-car-cog:before {
    content: "\e905"
}

.icon-car-cog3:before {
    content: "\e906"
}

.icon-car-cogs:before {
    content: "\e907"
}

.icon-car-cogs2:before {
    content: "\e908"
}

.icon-car-crane:before {
    content: "\e909"
}

.icon-car-door:before {
    content: "\e90a"
}

.icon-car-fan:before {
    content: "\e90b"
}

.icon-car-fuel:before {
    content: "\e90c"
}

.icon-car-fuel2:before {
    content: "\e90d"
}

.icon-car-fulltime:before {
    content: "\e90e"
}

.icon-car-machine:before {
    content: "\e90f"
}

.icon-car-meter:before {
    content: "\e910"
}

.icon-car-money:before {
    content: "\e911"
}

.icon-car-note:before {
    content: "\e912"
}

.icon-car-note2:before {
    content: "\e913"
}

.icon-car-paint:before {
    content: "\e914"
}

.icon-car-pump:before {
    content: "\e915"
}

.icon-car-service:before {
    content: "\e916"
}

.icon-car-service2:before {
    content: "\e917"
}

.icon-car-signal:before {
    content: "\e918"
}

.icon-car-signal2:before {
    content: "\e919"
}

.icon-car-stearing:before {
    content: "\e91a"
}

.icon-car-tuning:before {
    content: "\e91b"
}

.icon-car-wheel:before {
    content: "\e91c"
}

.icon-car-alert:before {
    content: "\e91d"
}

.icon-car-cabriolet:before {
    content: "\e91e"
}

.icon-car-cuv:before {
    content: "\e91f"
}

.icon-car-hatchback:before {
    content: "\e920"
}

.icon-car-micro:before {
    content: "\e921"
}

.icon-car-minivan:before {
    content: "\e922"
}

.icon-car-pickup:before {
    content: "\e923"
}

.icon-car-sedan:before {
    content: "\e924"
}

.icon-car-supercar:before {
    content: "\e925"
}

.icon-car-suv:before {
    content: "\e926"
}

.icon-car-truck:before {
    content: "\e927"
}

.icon-car-van:before {
    content: "\e928"
}